body {
	width: 100%;
	margin: 0;
	font: 12pt Arial, sans-serif;
}

#main {
	overflow: hidden;
}

.maze {
	background-color: #777;
}

.tile-box {
	position: absolute;
	border: 1px solid rgba(200, 200, 200, 0.4);
	text-align: center;
	z-index: 4;
}
.tile-box.get-here, .tile-box.draw-here {
	cursor: auto;
}
.tile-box div {
	padding: 100px 0;
}
.tile-box.get-here {
	
}
.tile-box.draw-here {
	color: #00b;
}

.help-window {
	color: #7d7;
}