body {
	font: 12pt Helvetica, sans-serif;
}

.hidden {
	display: none;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.maze {
	background-color: white;
}

.in {
	cursor: crosshair;
}

.moving {
	cursor: move;
}

.centerer {
	top: 50%;
	left: 50%;
}

canvas, .maze .layer {
	/* for ipad/iphone */
	-webkit-user-select: none;
}

/* Teleporter marker */

.marker {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid rgb(0, 200, 0);
	        border-radius: 13px;
	   -moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	background-color: rgb(127, 255, 127);
	background-color: rgba(0, 255, 0, 0.5);
	margin: -13px;
	opacity: .5;
}

/* Animate teleporters */

@-webkit-keyframes pulse {
	0% {
		opacity: .5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}

.marker.highlight, .marker:hover {
	opacity: 1;
	-webkit-animation: pulse 500ms infinite ease-in-out alternate;
}

.player-marker {
	position: absolute;
	width: 0px;
	height: 0px;
	        border-radius: 6px;
	   -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #fff;
	border: 3px solid #f00;
	margin: -2px 0 0 -2px;
	z-index: 2;
}

.error {
	color: #c40;
}

.good {
	color: #082;
}

.loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
}

p.loading {
	padding-left: 1.5em;
}