<!doctype html>
<html>
<head>
	<title>The Infinite Maze</title>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
	<link rel="shortcut icon" href="../images/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="../styles/maze.css">
	<link rel="stylesheet" type="text/css" href="../styles/infinitemaze.css">
	
	<script src="../scripts/utils.js"></script>
	<script src="../scripts/transitions.js"></script>
	<script src="../scripts/couchdb.js"></script>
	<script src="../scripts/mazeviewer.js"></script>
	<script src="../scripts/infinitemaze.js"></script>
</head>
	<div id="app" class="layer in-welcome">
		<div id="welcome" class="window">
			<h1>The<em>Infinite</em>Maze.com</h1>
			<div class="subtitle">massively multiplayer online maze</div>
			<h2>How to Play</h2>
			<ul>
				<li>The red dot is you.</li>
				<li>Move your mouse through the maze.</li>
				<li>Click and drag to scroll the screen.</li>
				<li>When you get to an empty square, you can draw in it.</li>
			</ul>
			<button id="enter-btn">Enter the Maze</button>
		</div>
		
		<div id="header" class="layer">
			<div class="left">
				The Infinite Maze
			</div>
			<div class="right">
				<button id="login-signup-btn">Log in | Sign up</button>
				<div id="login-text">
					<a id="account-name-link" href=""></a>
					<button id="logout-btn">Log out</button>
				</div>
			</div>
		</div>
		
		<div id="login-signup-window" class="window hidden">
			<!--<p>
				Login or sign up for an account so you can save your drawings to the maze.
			</p>-->
			<form id="signup-form" class="left half">
				<h2>Sign up</h2>
				<p>Username: <input id="signup-username"></p>
				<p>Password: <input id="signup-password" type="password"></p>
				<p>Email: <input id="signup-email"></p>
				<p><input type="submit" value="Sign up"></p>
				<div id="signup-result" class="error"></div>
			</form>
			<hr>
			<form id="login-form" class="right half">
				<h2>Log in</h2>
				<p>Username: <input id="login-username"></p>
				<p>Password: <input id="login-password" type="password"></p>
				<p><input type="submit" value="Log in">
					<input type="reset" value="Cancel"></p>
				<div id="login-result" class="error"></div>
			</form>
		</div>
		
		<div id="editor-toolbox" class="layer hidden">
			<div id="rules">
				<h3>Maze Rules</h3>
				Please allow a path to go from the entrance point of your square to at least two empty adjacent squares.
			</div>
			<div id="toolbox-palettes">
				<table class="picker" id="color-picker"></table>
				<table class="picker" id="size-picker"></table>
				<button id="save-btn">Save</button>
				<button id="discard-btn">Discard</button>
			</div>
			<div>
				&larr; You can move through the light colors above<br> but not the dark colors below.
			</div>
		</div>
		
		<div id="overlay" class="layer"></div>
		<div id="maze" class="layer"></div>
	</div>
	
	<script>
	var data = {{DATA}};
	
	Couch.urlPrefix = "../";
	var mazesDb = Couch.db("db");
	Couch.urlPrefix = "";

	InfiniteMaze.init(mazesDb, data.maze, data.tiles, data.userCtx);
	</script>
</body>
</html>