Welcome to The Infinite Maze, the collaborative maze drawing site!<br><br>
Your username is "{{name}}". You signed up a while ago, but this is your official welcome email.<br><br>
New features added recently:<br><br>
- <b>More colors</b> to choose from. And a bucket tool.<br>
- <b>You don't have to start over.</b> When you come back to the site, you now continue from where you were last time.<br>
- <b>Teleport to your tiles</b> - You can now jump directly to any tile you have drawn. Just scroll to it and then click the green circle to teleport to it.<br><br>
Have fun!<br><br>
<a href="{{siteRoot}}">www.theinfinitemaze.com<br><br>
<img src="{{siteRoot}}images/welcome-email-logo.png" alt="TheInfiniteMaze.com"></a>
